/* ejemplo2.css   VA17011  */
pais {background-color:green;}
departamento{background-color:yellow; display:block;} cabecera {color:black; font-size:1cm; display:inline;} habitantes {color:black; font-size:1cm; display:inline;} altura {color:black;font-size:1cm; display:inline;}
